html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.219;
    color: $secondary-text-color;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  button {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    border: none;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
  
    @include for-size(mobile) {
      width: 320px;
    }
  
    @include for-size(tablet) {
      width: 768px;
      padding-left: 87px;
      padding-right: 87px;
    }
  
    @include for-size(desktop) {
      width: 1280px;
      padding-left: 175px;
      padding-right: 175px;
    }
  }
  
  @mixin for-size($range) {
    $mobile: 320px;
    $tablet: 768px;
    $desktop: 1280px;
    @if $range == mobile-only {
      @media (max-width: #{$tablet - 1}) {
        @content;
      }
    } @else if $range == mobile {
      @media (min-width: $mobile) {
        @content;
      }
    } @else if $range == tablet {
      @media (min-width: $tablet) {
        @content;
      }
    } @else if $range == desktop {
      @media (min-width: $desktop) {
        @content;
      }
    }
  }
  body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro {
    text-align: center;
  }

  .intro h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 40px;
  }

  .intro img {
    display: block;
    max-width: 100%;
    height: auto;
  }