<button class='back-btn-empty' type='button'>
  <span class='material-icons'>arrow_back</span>
  Back
</button>
<div class='empty-list-notification'>
  <img
    class='imageNotfication'
    src='https://i.pinimg.com/originals/f8/93/dc/f893dc70557f133a6dcd84d9e23c4b33.png'
  />
  <h2 class='notification'>"No events have been added to favorites yet."</h2>
</div>