    <div class="event-modal" >
       <button class="close-modal" type="button">
        <span class="material-icons close-cross-evtmodal">close</span>
       </button>
         <div class="wrapper">
            {{>evtModalInfo}}
         </div>
          
       <button class="btn prev"> 
          <span class="material-icons icon-prev">reply_all</span> 
       </button>
       <button class="btn next">
         <span class="material-icons icon-next">reply_all</span> 
      </button>
    </div>
