    <div class="event-modal" >
       <button class="close-modal" type="button">
        <span class="material-icons">close</span>
       </button>
         <div class="wrapper">
            {{>evtModalInfo}}
         </div>
          
       <button class="btn prev"> <<< </button>
       <button class="btn next"> >>> </button>
    </div>
 