{{#with this}}
  <div class='user-container'>
    <img src='{{photoURL}}' alt='{{displayName}}' class='user-photo' />
    {{!-- {{#if displayName}}
      <p class='user-name'>{{!displayName}}</p>
    {{!else}}
      <p class='user-name'>Неопознанный енот</p>
    {{!/if}} --}}

    <div class='button-flex'>
      <button class='favorite-event' type='button'>
        <span class='material-icons'>
          star_border
        </span>
        <span class='favorite-text'>
          Favorites
        </span>
      </button>
      <button class='sign-out-btn' type='button' onclick='signOutUser()'>
        <span class='sign-out-text'>
          Sign out
        </span>
        <span class='material-icons'>
          arrow_forward
        </span>
      </button>
    </div>

  </div>
{{/with}}