{{#with this}}
  <div class='user-container'>
    {{#if photoURL}}
      <img src='{{photoURL}}' alt='{{displayName}}' class='user-photo' />
    {{else}}
      <img
        src='https://st2.depositphotos.com/5142301/11063/v/950/depositphotos_110635670-stock-illustration-raccoon-logo-isolated-raccoon-head.jpg'
        alt='Anonymous'
        class='user-photo'
      />
    {{/if}}
    {{!-- {{#if displayName}}
      <p class='user-name'>{{!displayName}}</p>
    {{!else}}
      <p class='user-name'>Неопознанный енот</p>
    {{!/if}} --}}

    <div class='button-flex'>
      <button class='favorite-event' type='button'>
        <span class='material-icons'>
          star_border
        </span>
        <span class='favorite-text'>
          Favorites
        </span>
      </button>
      <button class='sign-out-btn' type='button' onclick='signOutUser()'>
        <span class='sign-out-text'>
          Sign out
        </span>
        <span class='material-icons'>
          arrow_forward
        </span>
      </button>
    </div>

  </div>
{{/with}}