// Variables
$primary-text-color: #ffffff;
$secondary-text-color: #0e0e0e;
$additional-text-color: #939393;
$accent-color: rgb(255, 13, 191);
$accent-modal-color: #4c00fe;
$bg-form-color: rgba(255, 255, 255, 0.2);
$bg-header-color: rgba(11, 11, 11, 0.5);
$bg-modal-color: #fff2fd;
$overlay-modal-color: rgba(32, 13, 29, 0.6);
