// Variables
$primary-text-color: #ffffff;
$secondary-text-color: #0E0E0E;
$additional-text-color: #939393;
$accent-color: #DC56C5;
$accent-modal-color: #4C00FE;
$bg-form-color: rgba(255, 255, 255, 0.2);
$bg-header-color: rgba(11, 11, 11, 0.5);
$bg-modal-color: #FFF2FD;
$overlay-modal-color: rgba(32, 13, 29, 0.6);
