.section-card {
  min-height: 47.2vh; //100
  margin-top: -45px;

  //   min-height: 100vh;
  //   margin-top: -60px;

  @include for-size(desktop) {
    margin-top: -51px;
  }
}

#dataContainer {
  width: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -14px;

  @include for-size(tablet) {
    margin-right: -27px;
  }

  @include for-size(desktop) {
    margin-right: -70px;
  }
}

.event-card::before {
  content: '';

  position: absolute;
  right: -10px;
  top: -10px;

  width: 109px;
  height: 101px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  box-sizing: border-box;
  border-radius: 50px 0px;

  pointer-events: none;

  @include for-size(tablet) {
    width: 153px;
    height: 143px;

    right: -14px;
    top: -14px;
  }
}

.event-card {
  position: relative;
  width: 128px;

  margin-bottom: 39px;
  margin-right: 14px;

  justify-content: center;

  @include for-size(tablet) {
    margin-bottom: 58px;
    width: 180px;
    margin-right: 27px;
  }

  @include for-size(desktop) {
    min-width: 180px;
    margin-bottom: 63px;
    margin-right: 70px;
  }
}

.event-image {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  margin-bottom: 5px;
  object-fit: cover;

  @include for-size(tablet) {
    width: 180px;
    height: 227px;
  }
}

.event-title {
  font-size: 14px;
  line-height: 1.214;
  font-weight: bold;
  text-align: center;
  color: $accent-color;
  margin-bottom: 5px;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 5px;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-place {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $primary-text-color;

  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.214;
  }
}

.material-icons.cards-icons {
  font-size: 9px;
  color: $primary-text-color;

  @include for-size(tablet) {
    font-size: 10px;
  }
}
