.section-card {
  min-height: 57.7vh; //100
  margin-top: -45px;

  //   min-height: 100vh;
  //   margin-top: -60px;

  @include for-size(desktop) {
    margin-top: -51px;
  }
}

#dataContainer {
  width: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -14px;

  @include for-size(tablet) {
    margin-right: -27px;
  }

  @include for-size(desktop) {
    margin-right: -70px;
  }
}

.event-card::before {
  content: '';

  position: absolute;
  right: -10px;
  top: -10px;

  width: 109px;
  height: 101px;

  border: 1px solid rgba(220, 86, 197, 0.3);
  box-sizing: border-box;
  border-radius: 50px 0px;

  @include for-size(tablet) {
    width: 153px;
    height: 143px;

    right: -14px;
    top: -14px;
  }
}

.event-card {
  position: relative;
  width: 128px;

  margin-bottom: 39px;
  margin-right: 14px;

  justify-content: center;

  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;

  &:hover {
    &::before {
      pointer-events: none;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      box-shadow: 0 0 10px 1px $accent-color;
      transition-duration: 0.4s;

      @include for-size(tablet) {
        width: calc(100% + 28px);
        height: calc(100% + 28px);
      }
    }
  }

  @include for-size(tablet) {
    margin-bottom: 58px;
    width: 180px;
    margin-right: 27px;
  }

  @include for-size(desktop) {
    min-width: 180px;
    margin-bottom: 63px;
    margin-right: 70px;
  }
}

.event-image {
  width: 128px;
  height: 161px;
  border-radius: 50px 0px;
  margin-bottom: 5px;
  object-fit: cover;

  @include for-size(tablet) {
    width: 180px;
    height: 227px;
  }
}

.event-title {
  font-size: 14px;
  line-height: 1.214;
  font-weight: bold;
  text-align: center;
  color: $accent-color;
  margin-bottom: 5px;
  cursor: pointer;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 5px;

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.event-place {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $primary-text-color;

  @include for-size(tablet) {
    font-size: 14px;
    line-height: 1.214;
  }
}

.material-icons.cards-icons {
  font-size: 9px;
  color: $primary-text-color;

  @include for-size(tablet) {
    font-size: 10px;
  }
}

.event-card.is-paused {
  visibility: hidden;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
