.delete-fav {
  color: $accent-color;
  display: block;
  margin: 5px 45%;
  cursor: pointer;
}

.back-btn,
.back-btn-empty {
  position: absolute;
  top: -10%;
  left: 5%;
  width: 100px;
  height: 25px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  backdrop-filter: blur(20px);
  transition: all 0.25s;
  background: linear-gradient(45deg, #272325 40%, #020104);
  border: 1px solid rgba(220, 86, 197, 0.3);
  text-shadow: 0 -50px 100px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 5px 3px #000;
  // border-radius: 20px;
  border-radius: 50px 0px;
  color: #fff;

  @include for-size(tablet) {
    font-size: 14px;
  }
  @include for-size(tablet) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background: linear-gradient(45deg, #412834 40%, #1c0d3b);
  }
}

.back-btn-empty {
  z-index: 2;
}

.empty-list-notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include for-size(desktop) {
    flex-direction: row;
  }
}
