@import url(https://fonts.googleapis.com/css?family=Akronim);

footer {
  position: relative;
  display: flex;
  justify-content: center;

  // width: 1080px;

  margin-left: auto;
  margin-right: auto;

  // padding: 0 100px;
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 17px;

  color: $additional-text-color;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    bottom: 18px;
    font-size: 16px;
    line-height: 23px;
  }
}
.footer-text {
  font-size: 16px;
  line-height: 20px;
}

.footer-open-modal {
  cursor: pointer;
  text-decoration: none;

  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.Blazing {
  font-family: 'Akronim';
  font-size: 30px;

  vertical-align: middle;
  outline: none;
  color: rgb(255, 115, 0);

  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@include blazing;
