@import url(https://fonts.googleapis.com/css?family=Akronim);

footer {
  position: relative;
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;

  flex-direction: column;
  text-align: center;

  font-size: 14px;
  line-height: 17px;

  color: $additional-text-color;

  &__content {
    display: flex;
    padding: 20px 10px;
  }

  @include for-size(tablet) {
    bottom: 18px;

    display: flex;
    justify-content: center;

    font-size: 16px;
    line-height: 20px;
  }
}
// .footer-text {
//   font-size: 14px;
//   line-height: 17px;
// }

.footer-open-modal {
  width: 180px;
  height: auto;
  margin: 0 auto;

  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;

  @include for-size(mobile-only) {
    flex-direction: column;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 35px 0;
  }
}

.Blazing {
  font-family: 'Akronim';
  font-size: 30px;

  vertical-align: middle;
  outline: none;
  color: rgb(255, 115, 0);

  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@include blazing;
