:root {
  --neon-border-color: #08f;
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

.form-submit {
  display: flex;
  flex-direction: column;

  margin-bottom: 52px;

  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 123px;
  }

  @include for-size(desktop) {
    flex-direction: row;
    justify-content: center;

    margin-bottom: 133px;
  }
}

.search-form {
  display: flex;

  margin-right: 30px;

  width: 270px;
  height: 42px;

  border: 1px solid transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  @include for-size(mobile-only) {
    margin-bottom: 25px;
    margin-right: 0px;
  }
}

.search-input {
  position: relative;
  display: block;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  padding-left: 30px;

  outline: none;
  border: none;

  // color: $additional-text-color;
  color: rgb(255, 13, 191);

  background-color: transparent;
}

.btn-submit {
  position: absolute;
  top: 29%;
  right: 10%;
  outline: none;
  border: none;

  background-color: transparent;
}

.search-form:hover {
  animation: flicker 999s infinite alternate;
  border: 0.1rem solid #fff;
  @keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
      text-shadow: none;
      box-shadow: none;
    }
  }

  .btn-svg {
    transform: scale(1.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .search-input {
    display: flex;
    width: 270px;
    height: 39px;
    overflow: hidden;
    border-radius: 19px;
    background: #333333;
  }
}

.search-input::placeholder {
  color: #b9b9b9;
}

.btn-svg {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(255, 13, 191);
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #333333;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select-form {
  position: relative;
  display: flex;
  width: 270px;
  height: 40px;
  overflow: hidden;
  border-radius: 20px;
}

.select-country {
  padding-left: 30px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #b9b9b9;
  cursor: pointer;
}
/* Arrow */
.select-form::after {
  content: '\25BC';
  position: absolute;
  top: 25%;
  right: 4%;
  padding: 0 1em;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: rgb(255, 13, 191);
}
/* Transition */
.select-form:hover::after {
  color: rgb(255, 13, 191);
}

.select-form:hover,
.select-form:focus {
  animation: flicker 999s infinite alternate;
  border: 0.1rem solid #fff;
  @keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
      text-shadow: none;
      box-shadow: none;
    }
  }
  .select-country {
    background: #333333;
  }
}
