:root {
  --neon-border-color: #08f;
}

.form-submit {
  display: flex;
  flex-direction: column;

  margin-bottom: 52px;

  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 123px;
  }

  @include for-size(desktop) {
    flex-direction: row;
    justify-content: center;

    margin-bottom: 133px;
  }
}

.search-form {
  display: flex;

  margin-right: 30px;

  width: 270px;
  height: 42px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  @include for-size(mobile-only) {
    margin-bottom: 25px;
    margin-right: 0px;
  }
}

.search-input {
  position: relative;
  display: block;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  padding-left: 25px;

  outline: none;
  border: none;

  color: $accent-color;

  background-color: transparent;
}

.btn-submit {
  position: absolute;
  top: 29%;
  right: 10%;
  outline: none;
  border: none;

  background-color: transparent;
}

.search-form:hover {
  @include form-animation;

  .btn-svg {
    transform: scale(1.5);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .search-input {
    display: flex;
    width: 270px;
    height: 39px;
    overflow: hidden;
    border-radius: 19px;
    background: #333333;
  }
}

.search-input::placeholder {
  color: #b9b9b9;
}

.btn-svg {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $accent-color;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #333333;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select-form {
  position: relative;
  display: flex;
  width: 270px;
  height: 40px;
  overflow: hidden;
  border-radius: 20px;
}

.select-country {
  padding-left: 25px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #b9b9b9;
  cursor: pointer;
}
/* Arrow */
.select-form::after {
  content: '\25BC';
  position: absolute;
  top: 25%;
  right: 4%;
  padding: 0 1em;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: $accent-color;
}
/* Transition */
.select-form:hover::after {
  color: $accent-color;
}

.select-form:hover {
  @include form-animation;

  .select-country {
    background: #333333;
  }
}

option {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px);
}
