.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 108px;
  height: 90px;
  fill: $primary-text-color;
  position: absolute;
  top: 0;
  left: 0;
  background-color: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);
  border-bottom-right-radius: 180%;

  // z-index: 100;

  @include for-size(tablet) {
    width: 180px;
    height: 151px;
  }
  @include for-size(desktop) {
    width: 238px;
    height: 201px;
  }
}

.logo:hover,
.logo:focus {
  fill: $accent-color;
}
