// .header {
//   position: relative;
//   margin-left: auto;
//   margin-right: auto;
// }

// .logo {
//   width: 108px;
//   height: 90px;
//   fill: $primary-text-color;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: linear-gradient(
//     136.07deg,
//     rgba(196, 196, 196, 0.03) 10.75%,
//     rgba(196, 196, 196, 0) 92.33%
//   );
//   backdrop-filter: blur(30px);
//   border-bottom-right-radius: 180%;

//   z-index: 100;

//   @include for-size(tablet) {
//     width: 180px;
//     height: 151px;
//   }
//   @include for-size(desktop) {
//     width: 238px;
//     height: 201px;
//   }
// }

// .logo:hover,
// .logo:focus {
//   fill: $accent-color;
// }

.header {
  position: relative;
  @include for-size(desktop) {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

$colors: #08f, #ff0dbf, #9210c2, #efeac5, #4c00fe;

.logo-link {
  display: inline-block;
  width: 108px;
  position: absolute;
  z-index: 50;
  left: 20px;

  @include for-size(tablet) {
    width: 150px;
    top: 25px;
  }

  @include for-size(desktop) {
    width: 238px;
    top: 15px;
    left: auto;
  }
}
.text--line {
  font-size: 146px;
  font-weight: 900;
  letter-spacing: 0.35em;
}
.text--line2 {
  font-size: 146px;
  font-weight: 900;
}
.logo-svg {
  font-family: Major Mono Display;
  width: inherit;
}

$max: 5;
$stroke-step: 7%;
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
  stroke-width: 3px;

  animation: stroke-offset 4s infinite ease-in-out;

  @for $item from 1 through $max {
    $stroke-color: nth($colors, $item);

    &:nth-child(#{$item}) {
      stroke: $stroke-color;
      stroke-dashoffset: $stroke-step * $item;
    }
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: $stroke-step * $max;
    stroke-dasharray: 0 $stroke-step * $max * 2.5;
  }
}

// .logo {
//   display: inline-block;
//   width: 108px;
//   position: absolute;
//   z-index: 50;
//   left: 20px;
//   font-size: 15px;

//   @include for-size(tablet) {
//     width: 150px;
//     top: 25px;
//     font-size: 25px;
//   }

//   @include for-size(desktop) {
//     max-width: 238px;
//     top: 15px;
//     left: auto;
//     font-size: 35px;
//   }

//   .span-logo {
//     letter-spacing: 0.35em;
//     display: block;
//   }

//   text-align: center;
//   font-family: Major Mono Display;
//   color: #fff;
//   font-weight: 700;
//   text-transform: uppercase;
//   animation: blur 1.25s ease-out infinite;
//   text-shadow: 0px 0px 3px #fff, 0px 0px 5px #fff;
// }

// @keyframes blur {
//   from {
//     text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
//       0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
//       0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
//       0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
//       0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
//       0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
//   }
// }
