/* Lightbox */
$basicLightbox__background: rgba(223, 93, 93, 0.8); // Background color
$basicLightbox__zIndex: 1000; // Stack order
$basicLightbox__duration: 0.4s; // Transition duration
$basicLightbox__timing: ease; // Transition timing

/* body.is-open {
  overflow: hidden;
  background:#200D1D 60%;
  } */

.basicLightbox::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.basicLightbox {
  overflow: auto;
  cursor: pointer;
}
.basicLightbox__placeholder {
  margin: auto;
}

.event-modal {
  background-color: #fff2fd;
  border-radius: 150px 0px;
  width: 272px;
  padding: 70px 10px;
  @include for-size(tablet) {
    width: 595px;
    border-radius: 300px 0px;
    padding: 30px 20px;
  }
  @include for-size(desktop) {
    width: 942px;
    padding: 30px 20px;
  }
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  color: #4c00fe;
  font-size: 1.5rem;
  transition: 0.25s linear;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 0.125rem;
    background-color: #4c00fe;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    transform: rotate(360deg);

    &:before,
    &:after {
      background-color: $accent-color;
    }
  }
}

.close-cross-evtmodal {
  font-size: 17px;
  @include for-size(desktop) {
    font-size: 24px;
  }
}
.title-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  @include for-size(tablet) {
    width: 70px;
    height: 70px;
  }
  @include for-size(desktop) {
    width: 132px;
    height: 132px;
  }
}

.info-event {
  display: block;
  text-align: center;
  padding: 20px;

  @include for-size(tablet) {
    width: 97%;
    margin: auto;
    display: flex;
    padding: 40px 10px;
    text-align: left;
  }
  @include for-size(desktop) {
    padding: 40px 10px;
  }
}

#more {
  display: none;
}
#dots,
#less {
  color: #ff0dbf;
  font-size: 33px;
}

.event-data {
  display: block;
  @include for-size(tablet) {
    margin-left: 10px;
  }
  @include for-size(desktop) {
    margin-left: 20px;
  }
}

.modal-title {
  color: #dc56c5;
  text-transform: uppercase;
  font-size: 20px;

  margin: 10px 0;
}

.poster-img {
  display: none;

  @include for-size(tablet) {
    display: block;
    width: 250px;
    height: 415px;
    object-fit: cover;
    padding: 0 10px;
  }
  @include for-size(desktop) {
    width: 440px;
    height: 541px;
  }
}

.ticket {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  background-color: #4c00fe;
  width: fit-content;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
}

.more-info {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
  padding: 10px 0;
  margin: 15px auto;
  width: fit-content;
  border: 1px solid;
  border-radius: 5px;
  color: #4c00fe;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal-md-12 {
  color: $accent-color;
}
.ticket-icon1 {
  transform: rotate(270deg);
  font-size: inherit;
}
.ticket-icon2 {
  transform: rotate(90deg);
  font-size: inherit;
}
.price-text {
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  background: none;
  outline: none;
  color: $accent-color;
  font-size: 35px;
  font-weight: 700;
  &:hover,
  &:focus {
    transform: scale(1.5);
    color: pink;
  }
}

.btn.next {
  margin: 0 0 0 8%;
  @include for-size(tablet) {
    position: fixed;
    top: 40%;
    left: 100%;
  }
}
.btn.prev {
  margin: 0 0 0 30%;
  @include for-size(tablet) {
    position: absolute;
    top: 40%;
    left: -45%;
  }
}

.add-to-fav {
  text-align: center;
  @include for-size(tablet) {
    margin-left: 15%;
  }
}
.icon-next {
  transform: rotateY(180deg);
}

.icon-next,
.icon-prev {
  font-size: 35px;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: silver;
  margin-bottom: 12px;

  animation: blink linear infinite 2s;
  @keyframes blink {
    78% {
      color: inherit;
      box-shadow: inherit;
    }
    79% {
      color: tomato;
    }
    80% {
      box-shadow: none;
    }
    81% {
      color: inherit;
      box-shadow: inherit;
    }
    82% {
      color: red;
      box-shadow: none;
    }
    83% {
      color: inherit;
      box-shadow: inherit;
    }
    92% {
      color: violet;
      box-shadow: none;
    }
    92.5% {
      color: blueviolet;
      box-shadow: inherit;
    }
  }
}

.star {
  font-size: 30px;
}
.fav {
  appearance: none;
  position: absolute;
}
.fav:checked ~ .add-text {
  display: none;
}

.fav:checked ~ .star {
  color: $accent-color;
  animation: blink linear infinite 2s;
}

#modal-fav-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
