.mouse {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  z-index: 99999;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    z-index: 2;
    transition: opacity 1s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: transparent;
    border: 4px solid $accent-color;
    transition: opacity 1s ease-in-out;
  }

  & .mouse__view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent-color;
    border-radius: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}

.view-visible .mouse__view {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.links-visible::after {
  border: 4px solid $accent-color;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: transparent;
  transition: 1s;
}

.links-visible::before {
  opacity: 0;
}
