ul {
  display: inline-flex;
}

.paginationjs-page {
  padding: 6px 10px;
  color: #fff;
  margin-right: 4px;
  // margin-left: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px 0px;
  text-shadow: 0 4px 10px, 0 0 2px, 0 0 2em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
    @media only screen and (min-width: 768px) {
    margin-right: 6px;
  }
  @media only screen and (min-width: 1280px) {
    margin-right: 8px;
  }
}
.paginationjs-page:last-child {
 margin-right: 0;

    }
.paginationjs-page:hover {
  cursor: pointer;
  border-radius: 10px 0px;
  color: #fff;
  border: 1px solid #dc56c5;
  background-color: #ce73b7;
  box-shadow: 0px 4px 20px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.2em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
}

.paginationjs-pages .active {
  padding: 6px 10px;
  color: #fff;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
  cursor: pointer;
  animation: blink linear infinite 1.5s;
  font-weight: 700;
  text-shadow: 0 4px 10px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
}

.paginationjs-ellipsis {
  color: #fff;
  margin-top: 9px;
  margin-right: 8px;
  margin-left: 4px;
  text-shadow: 0 4px 10px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
   @media only screen and (min-width: 768px) {
    margin-right: 6px;
  }
}

#demo {
  text-align: center;
  margin-bottom: 40px;
  @media only screen and (min-width: 1280px) {
    margin-top: 17px;
    margin-bottom: 60px;
  }
}

#dataContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.notification {
  margin-top: 50px;
  text-align: center;
  font-size: larger;
  color: #fee;
  animation: blink linear infinite 2s;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0dbf, 0 0 0.5em #ff0dbf,
    0 0 0.1em #ff0dbf, 0 10px 3px #000;
  @media only screen and (min-width: 768px) {
    font-size: x-large;
  }
  @media only screen and (min-width: 1280px) {
     margin-top: 90px;
    font-size: xx-large;
  }
}

.imageNotfication {
  margin-top: 30px;
  width: 250px;
}
