ul {
  display: inline-flex;
}

.paginationjs-page {
  padding: 6px 10px;
  color: #fff;
  margin-right: 2.5px;
  margin-left: 2.5px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 10px 0px;
  text-shadow: 0 4px 10px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
}
.paginationjs-page:hover {
  cursor: pointer;
  border-radius: 10px 0px;
  color: #fff;
  border: 1px solid #dc56c5;
  background-color: #dc56c5;
}

.paginationjs-pages .active {
  padding: 6px 10px;
  color: #fff;
  border: 1px solid #dc56c5;
  border-radius: 10px 0px;
  cursor: pointer;
  animation: blink linear infinite 1.5s;
  font-weight: 700;
  text-shadow: 0 4px 10px, 0 0 2px, 0 0 1em rgb(255, 13, 191),
    0 0 0.5em rgb(255, 13, 191), 0 0 0.1em rgb(255, 13, 191), 0 1px 3px #000;
}

.paginationjs-ellipsis {
  color: #fff;
  margin-top: 9px;
}

#demo {
  text-align: center;
  margin-bottom: 40px;
}

#dataContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
