.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 20px;

  width: 50px;
  height: 50px;

  @include for-size(tablet) {
    right: 30px;
    bottom: 30px;
  }

  color: $accent-color;
  visibility: hidden;

  border-radius: 50px;
  box-shadow: inset 0 0 1 4px #fff;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  // transform: translateX(-50%);

  z-index: 1000;
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 40px;
  content: '';
}

.scroll-up:hover {
  color: $accent-color;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  // transform: translateY(0);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: $accent-color;
  stroke-width: 4px;
  transition: 0.2s;
}

.scroll-up:hover {
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.scroll-up__svg-arrow {
  position: absolute;

  width: 32px;
  height: 32px;
  top: 17%;
  left: 17%;

  fill: $accent-color;
}
