.section-card {
  padding-bottom: 120px;
  @include for-size(tablet) {
    padding-bottom: 98px;
  }
  @include for-size(desktop) {
    padding-bottom: 119px;
  }
}

.bg-img {
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary-text-color;
  z-index: 1;

  background-image: url('../images/mobile/bg-body-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @include for-size(tablet) {
    background-image: url('../images/tablet/bg-body-tablet.svg');
  }
  @include for-size(desktop) {
    background-image: url('../images/desktop/bg-body-desktop.svg');
  }
}

main {
  position: relative;
}

.img-container::after {
  @include for-size(tablet) {
    content: '';
    width: 1px;
    top: 319px;
    bottom: 0;
    position: absolute;
    background: #212121;
    left: 10%;
    z-index: 20;
    // box-shadow: 0px 0px 15px 10px $accent-color;
  }

  @include for-size(desktop) {
    top: 395px;
  }
}

.img-container::before {
  @include for-size(tablet) {
    content: '';
    width: 1px;
    top: 319px;
    bottom: 0;
    position: absolute;
    background: #212121;
    right: 10%;
    z-index: 20;
    // box-shadow: 0px 0px 15px 10px $accent-color;
  }

  @include for-size(desktop) {
    top: 395px;
  }
}
