.section-card {
  padding-bottom: 120px;
  @include for-size(tablet) {
    padding-bottom: 98px;
  }
  @include for-size(desktop) {
    padding-bottom: 119px;
  }
}

.bg-img {
  // width: 100%;
  margin-top: 1px;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $secondary-text-color;
  z-index: 1;

  background-image: url('../images/mobile/bg-body-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @include for-size(tablet) {
    background-image: url('../images/tablet/bg-body-tablet.svg');
  }
  @include for-size(desktop) {
    background-image: url('../images/desktop/bg-body-desktop.svg');
  }
}

main {
  position: relative;
}

.img-container::after {
  content: '';
  width: 1px;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #212121;
  left: 10%;
  z-index: 20;
  box-shadow: 0px 0px 15px 10px $accent-color;
}

.img-container::before {
  content: '';
  width: 1px;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #212121;
  right: 10%;
  z-index: 20;
  box-shadow: 0px 0px 15px 10px $accent-color;
}

// .img-container::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;

//   width: 80%;

//   background-size: cover;
//   // background-position: center;
//   background-repeat: no-repeat;
//   @include for-size(tablet) {
//     background-image: url('../images/tablet/decor-tablet.svg');
//     left: 10%;
//   }
//   @include for-size(desktop) {
//     background-image: url('../images/desktop/decor-desktop.svg');
//     left: 10%;

//     // max-width: 1280px;
//   }
// }
