.wrapper-hero {
  position: relative;
  display: block;
  margin-bottom: 1px;
  padding-top: 78px;
  padding-bottom: 112px;
  text-align: center;
  @include for-size(tablet) {
    padding-top: 40px;
    padding-bottom: 183px;
  }
  @include for-size(desktop) {
    padding-bottom: 192px;
  }
}
.img-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0) 0%,
      rgba(14, 14, 14, 0.8) 100%
    ),
    linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url('../images/mobile/picMobile.jpg');
  background-size: 100% 102px, cover, cover;
  background-position: 50% 100%, center, center;
  background-repeat: no-repeat;

  @include for-size(tablet) {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url('../images/tablet/picTablet.jpg');
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      ),
      linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url('../images/desktop/picDesktop.jpg');
  }
}

.hero-title {
  display: inline-block;
  margin-bottom: 25px;
  width: 212px;
  // height: 44px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  color: $accent-color;
  @include for-size(tablet) {
    margin-bottom: 27px;
    width: 353px;
    // height: 74px;
    font-size: 30px;
  }
  @include for-size(desktop) {
    margin-bottom: 52px;
    width: 588px;
    height: 122px;
    font-size: 45px;
  }
}
